body{
    background: #abb2b9;
}
nav,
.navbar,
.bg-light{
    background: #ffffff;
}
.card{
    border: none;
    border-radius: 0px;
    border-top: 5px solid #3498db;
    margin-top: 50px;
    margin-bottom: 50px; 
}